<p>
    <mat-form-field appearance="legacy">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="data.Name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>
<!-- <p>
    <mat-form-field appearance="legacy">
        <mat-label>Data</mat-label>
        <textarea matInput placeholder="Data" [(ngModel)]="data.Data"></textarea>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p> -->
{{data.Data}}
