<div class="d3-geomap" id="map" style="position: relative;">
    <div style="position: absolute;z-index:2;">
      <button mat-mini-fab id="zoom_in" style="border-radius: 10px;"
        aria-label="Example icon button with a heart icon">
        <mat-icon mat-mini-fab>add</mat-icon>
      </button>
      <button mat-mini-fab id="zoom_out" style="border-radius: 10px;"
        aria-label="Example icon button with a heart icon">
        <mat-icon mat-mini-fab>remove</mat-icon>
      </button>
      <button mat-mini-fab id="zoom_none" style="border-radius: 10px;"
        aria-label="Example icon button with a heart icon">
        <mat-icon mat-mini-fab>home</mat-icon>
      </button>
    </div>
  </div>