<mat-drawer-container fxLayout="row">

  <mat-drawer #drawer mode="side" fxFlex="30%" opened>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="{{config.name}}" *ngFor="let config of mapSchema" [ngSwitch]="config.type">
        <div *ngSwitchCase="'path'">
          <label>code</label>
          <ace-editor [(ngModel)]="config.code" style="height:150px;">
          </ace-editor>
        </div>
        <div *ngSwitchCase="'bubble'">
          <button (click)="openDialog()">table</button>
        </div>
        <div *ngFor="let attr of attrKeys(config)">
          <label for="{{attr}}">{{attr}}</label>
          <button (click)="config.advance[attr]=!config.advance[attr]">advance</button>
          <p *ngIf="!config.advance[attr]">
            <input id="{{attr}}" type="text" [(ngModel)]="config.attrs[attr]">
          </p>
          <p *ngIf="config.advance[attr]">
            <ace-editor [(ngModel)]="config.attrs[attr]" style="height:150px;">
            </ace-editor>
          </p>
        </div>
      </mat-tab>
    </mat-tab-group>
    <button mat-raised-button color="primary" (click)="rebuildMap()">rebuild</button>
    <button mat-raised-button color="primary" (click)="drawer.toggle()">Toggle drawer</button>
  </mat-drawer>


  <mat-drawer-content fxFlex="70%">
    <div class="d3-geomap" id="map">
      <button id="zoom_in">+</button>
      <button id="zoom_out">-</button>
      <button id="zoom_none">home</button>
    </div>
    <!-- <input type="text" #remove>
    <button (click)="removeElement(remove.value)">remove</button> -->
    <button mat-raised-button color="primary" (click)="drawer.toggle()">Toggle drawer</button>
    <button mat-raised-button (click)="saveSchema()">save</button>
  </mat-drawer-content>

</mat-drawer-container>